
@{
    ViewData["Title"] = "Casos";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">

            <div class="card" style="width: 18rem;">
                <img src="https://uploadgerencie.com/imagenes/divorcio-separacion-de-bienes.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Creacion del caso</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-area="" asp-controller="Caso" asp-action="SeleccionarUsuario" class="btn btn-primary">ir</a>
                </div>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="card" style="width: 18rem;">
                <img src="https://uploadgerencie.com/imagenes/causales-divorcio_372x186.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mostrar casos</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-area="" asp-controller="Caso" asp-action="ListarCasos" class="btn btn-primary">ver</a>
                </div>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="card" style="width: 18rem;">
                <img src="https://divorciosporinternet.com/wp-content/uploads/2021/05/Frame-1-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alterar casos</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-area="" asp-controller="Caso" asp-action="ModificarCaso" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
    </div>
</div>