@using Abogado.Domain.Entities
@model Caso
@{
    ViewData["Title"] = "CrearCaso";
}
<div class="form-row">
    <div class="col-md-12">
        <form method="post" asp-controller="Caso" asp-action="ModificarCasoFrm" enctype="multipart/form-data" class="form-group">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--nombre-->
            <div class="form-group">
                <label asp-for="NombreCaso" class="control-label"></label>
                <input asp-for="NombreCaso" type="text" class="form-control" />
                <span asp-validation-for="NombreCaso" class="text-danger"></span>
            </div>

            <!--apellido-->
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" type="text" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <!--correo-->
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" type="date" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>

            <!--tipo-->
            <select class="form-group" aria-label="ninguno" asp-for="Proceso">
                <option selected>Seleccione un proceso</option>
                <option value=0>opcion 1</option>
                <option value=1>opcion 2</option>
            </select>

            <!--tipo-->
            <select class="form-group" aria-label="ninguno" asp-for="FormaDivorcio">
                <option selected>Seleccione un Forma de Divorcio</option>
                <option value=0>opcion 1</option>
                <option value=1>opcion 2</option>
            </select>

            <!--tipo-->
            <select class="form-group" aria-label="ninguno" asp-for="mecanismoDisolucion">
                <option selected>Seleccione el mecanismo de diseolucion</option>
                <option value=0>opcion 1</option>
                <option value=1>opcion 2</option>
            </select>

            <div class="form-group">
                <label asp-for="Archivo" class="control-label"></label>
                <input asp-for="Archivo" type="file" name="Documento" class="form-control" />
            </div>


            <div class="container">
                <div class="row">
                    <!--enviar formulario-->
                    <div class="col-sm">
                        <input type="submit" value="Registrar" class="btn btn-outline-dark" />
                    </div>
                    <!--regresar-->
                    <div class="col-sm">
                        <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index">Retornar</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
