@using Abogado.Domain.Entities
@model Usuario
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="form-row">
    <div class="col-md-6">
        <img src="https://obtienearchivo.bcn.cl/obtieneimagen?id=recursoslegales/10221.3/4164/20/Foto_divorcio.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-6">
        <form method="post" asp-controller="Usuario" asp-action="Login" class="form-group">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <!--correo-->
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!--password-->
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="container">
                <div class="row">
                    <!--enviar formulario-->
                    <div class="col-sm">
                        <input type="submit" value="Login" class="btn btn-outline-dark" />
                    </div>
                    <!--regresar-->
                    <div class="col-sm">
                        <a class="btn btn-outline-dark" asp-area="" asp-controller="Usuario" asp-action="Registrar">Registrar</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
